$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: "Roboto", Arial, sans-serif;
  // margin: 0 auto;
  background-color: transparent;
}
//buttons to become visible after getting signed in
.visible-signin {
  display: none;
  padding: 5px;
}
//div to show the game result and previous games
#warning1 {
  width: 360px;
  height: 25px;
  border: 1px solid white;
  margin-left: 20%;
  font-size: 15px;
}
//Sing in warning

#warning2 {
  width: 360px;
  height: 25px;
  border: 1px solid white;
  margin-left: 20%;
  font-size: 15px;
}
// Warning for change Password

#warning3 {
  width: 310px;
  height: 25px;
  border: 1px solid white;
  margin-left: 25%;
  font-size: 20px;
}
//is the x button

.close {
  display: none;
}

//new part
#warning-create-new-data{
  #warning3 {
    width: 310px;
    height: 25px;
    border: 1px solid white;
    margin-left: 25%;
    font-size: 20px;
  }
}

#show-info{
  margin: 0 auto;
  width: 400px;
  height: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

#warning-get{
  width: 175px;
  height: 25px;
  border: 1px solid #BDD0CE;
  margin-left: 45%;
  font-size: 20px;
}

html{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("pictures/age.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.container{
  background-color: transparent;
  margin-top: 150px;
}

.inner{
  height: 300px;
  background-color: transparent;
  text-align: center;
}
.slogan{
  color: white;
}

img {
    max-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron {
  //  background: rgb(200, 54, 54); /* for red */
   background: rgba(200, 200, 200, 0.5);
}
